---
layout: default-layout
title: Home
---

<div class="packages-title">To Do</div>

<div class="package-container">
{% for todo in site.data.todo %}
  <div class="package">
    <div class="package-info">
      <div class="package-name"> {{ todo.name }} </div>

      <div class="package-status">
        {% if todo.complete %}
          <div class="package-complete"> COMPLETE </div>
        {% else %}
          <div class="package-days-left"> {{ todo.days_left }} </div>
        {% endif %}
        <div class="package-due-date"> {{ todo.due_date }} </div>
      </div>
    </div>
    <div class="package-details">
      <div class="package-details-meta">
        <div class="package-details-name"> {{ todo.name }} </div>
        <div class="package-details-updated"> {{ todo.updated }} </div>
        <a href="{{site.baseurl}}/quiz/drag-drop.html" class="package-details-button"> Take Quiz </a>
        <img class="package-details" src="{{site.baseurl}}/img/package-details-01.png">
      </div>
    </div>
  </div>
{% endfor %}
</div>

<div class="packages-filter">

  <div class="packages-filter-title">Playbook Learning</div>

  <div class="packages-filter-container">
    <div class="packages-filter-item">PROGRESS</div>
    <div class="packages-filter-item is-selected">MASTERY</div>
    <div class="packages-filter-item">INSTALLED</div>
  </div>
</div>

<div class="package-container">
{% for play in site.data.playbook %}
  <div class="package {% if play.locked %} is-locked {% endif %}">
    <div class="package-info">
      <div class="package-name"> {{ play.name }} </div>
      <div class="package-summary"> {{ play.summary }} </div>
      {% if play.locked %}
        <div class="package-cta"> </div>
      {% elsif play.completion == 0 %}
        <div class="package-cta"> begin </div>
      {% endif %}
    </div>

    {% if play.completion != 0 %}
      <div class="package-completion package-completion-{{play.completion}}"></div>
    {% endif %}

    <div class="package-details">
      <div class="package-details-meta">
        <div class="package-details-name"> {{ play.name }} </div>
        <div class="package-details-updated"> {{ play.updated }} </div>
        <a href="{{site.baseurl}}/quiz/drag-drop.html" class="package-details-button"> {% if play.completion == 0 %} Get Started {% else  %} Continue Learning {% endif %}</a>
        <img class="package-details" src="{{site.baseurl}}/img/package-details-01.png">
      </div>
    </div>
  </div>
{% endfor %}
</div>

<script>

$(document).ready(function() {

  $openPackage = {};

  $(".package-info").on("click", function(event) {
    $this = $(this).parent();
    if($this.hasClass("is-open")) {
      $this.removeClass("is-open");
      $openPackage = {};
    } else {
      $this.addClass("is-open");
      if($openPackage.removeClass != undefined)
        $openPackage.removeClass("is-open");
      $openPackage = $this;
    }
  })
})

</script>
