<header class="site-header">

    <a class="site-title page-link" href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/blitz.svg"></a>

    <nav class="site-nav">
      {{page.url}}
      <a class="page-link {% if '/' == page.url %}is-selected{% endif %}" href="{{site.baseurl}}/index.html"><span class="page-link-word">Home</span></a>
      <a class="page-link {% if '/leaderboard.html' == page.url %}is-selected{% endif %}" href="{{site.baseurl}}/leaderboard.html"><span class="page-link-word">Leaderboard</span></a>
      <a class="page-link {% if '/profile.html' == page.url %}is-selected{% endif %}" href="{{site.baseurl}}/profile.html"><span class="page-link-word">You</span></a>
    </nav>

</header>
