// This file should contain all of the formatting necessary for the default layout


.quiz-layout {
  background-color: $color-gray-2;

  .question-wrapper {
    left: 1 * $grid-unit;
    right: 1 * $grid-unit;
    bottom: 1 * $grid-unit;
    top: 6 * $grid-unit;
    background-color: $color-white;
    position: absolute;

    text-align: center;




    .question-title {
      font-weight: $base-title-font-weight;
      font-size: $base-title-small;
      margin-top: 2 * $grid-unit;
    }

    .question-prompt {
      margin-top: 1 * $grid-unit;
      font-size: $base-text;
    }

    .question-image {
      margin: auto;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;

      img {
        display: inline-block;
      }

      .players-drawer {
        position: absolute;
        top: 0;
        left: 2 * $grid-unit;
        background-color: $color-gray-2;
        width: 4 * $grid-unit;
        padding: $grid-unit 0;
      }

      .player {
        background: radial-gradient($color-good 40%, rgba(0,0,0,0) 40%);

        border-radius: 1000000px;

        font-weight: $base-title-font-weight;
        color: $color-white;

        width: 4 * $grid-unit;
        height: 4 * $grid-unit;

        margin: -1 * $grid-unit 0;

        display: flex;
        align-items: center;
        justify-content: center;

      }

    }
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 8 * $grid-unit;
    width: 740px;
    height: 513px;
  }


  .button-container {

    position: absolute;
    right: 0;
    bottom: 0;
    width: 6 * $grid-unit;
    padding: 1 * $grid-unit;

    .submit-button {
      background-color: $color-black-1;
      color: white;
      text-align: center;
      padding: $grid-unit/2 0;
      border-radius: 5px;
    }
  }
}
