// This file should contain all of the formatting necessary for the default layout


.quiz-layout {
  background-color: $color-gray-2;

  .question-wrapper {
    left: 1 * $grid-unit;
    right: 1 * $grid-unit;
    bottom: 1 * $grid-unit;
    top: 6 * $grid-unit;
    background-color: $color-white;
    position: absolute;

    text-align: center;




    .question-title {
      font-weight: $base-title-font-weight;
      font-size: $base-title-big;
      margin-top: 2 * $grid-unit;
    }

    .question-prompt {
      margin-top: 1 * $grid-unit;
      font-size: $base-text;
    }

    .question-image {
      margin: auto;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;

      img {
        display: inline-block;
      }

      .players-drawer {
        position: absolute;
        top: 0;
        left: 2 * $grid-unit;
        background-color: $color-gray-2;
        width: 4 * $grid-unit;
        padding: $grid-unit 0;
      }



      .replay-button {
        position: absolute;
        top: 0;
        left: 1 * $grid-unit;
        background-color: $color-gray-2;
        width: 6 * $grid-unit;
        padding: 2 * $grid-unit 0;

        &:after {
          content: "Replay"
        }
      }

      .player {
        background: radial-gradient($color-good 40%, rgba(0,0,0,0) 40%);

        border-radius: 1000000px;

        font-weight: $base-title-font-weight;
        color: $color-white;

        width: 4 * $grid-unit;
        height: 4 * $grid-unit;

        margin: -1 * $grid-unit 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &.defense {
          background: transparent;
          color: red;

          font-size: $base-title-small;

          &.underline {
            text-decoration: underline;
          }

          &.is-temporary {
            color: $color-gray-2;
          }
        }
      }

    }
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 8 * $grid-unit;
    width: 740px;
    height: 513px;
  }


  .button-container {

    position: absolute;
    right: 0;
    bottom: 0;
    width: 6 * $grid-unit;
    padding: 1 * $grid-unit;

    .submit-button {
      background-color: $color-black-1;
      color: white;
      text-align: center;
      padding: $grid-unit/2 0;
      border-radius: 5px;
    }
  }

  .question-choices {
    display: flex;
    flex-wrap: wrap;

    width: 40 * $grid-unit;
    margin: auto;

    height: 34 * $grid-unit;

    justify-content: center;
    align-content: center;

  }



  .choice {
    width: 16 * $grid-unit;
    height: 10 * $grid-unit;
    background-color: $color-gray-1;
    margin: 1 * $grid-unit;

    font-weight: $base-title-font-weight;
    font-size: $base-title-small;
    color: $color-gray-4;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &.is-selected {
      background-color: $color-black-1;
      color: $color-white;
    }
  }

  .question-choices-sidebar {
    position: absolute;
    right: 0 * $grid-unit;
    width: 8 * $grid-unit;
    justify-content: flex-start;
    align-items: stretch;

    margin-top: -24px;

    & .choice {
      font-size: $base-text;

      font-weight: $base-text-font-weight;

      height: 6 * $grid-unit;

      color: $color-black-1;

      margin: 0.5 * $grid-unit $grid-unit;

      background-color: $color-gray-2;

      &.is-selected {
        color: $color-white;

        background-color: $color-black-1;
      }

    }
  }
}
